body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
    background-image: url('image/fundo.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #043158;
    text-align: center;
    background-color: #97129031;
}

.container {
    max-width: 600px;
    margin: auto;
}

form {
    display: flexbox;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #c2a08e;
    color: rgba(0, 0, 0, 0.637);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #af8e7c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #44749d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c6d4e1;
}


