body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

form {
    display: flexbox;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #ebe7e0;
    color: rgba(0, 0, 0, 0.637);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f79eb1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #44749d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c6d4e1;
}
